<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://ammmjwpvlqugolnufdbg.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_Pp5gr7p2jxvRVJf5QBnLkw_5c4ctOTV</string>
	<key>PHOTOS_BUCKET</key>
	<string>photos</string>
	<key>ISSUES_BUCKET</key>
	<string>issues</string>
	<key>PROJECTS_BUCKET</key>
	<string>projects</string>
</dict>
</plist>
